

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



* {
   
   background-color: rgb(0, 0, 0);
  font-family: 'Pixelify Sans', sans-serif;
  color: #ffffff;
}


#number{
display: flex;
flex-direction: row;
justify-content: center;
gap: 10px;
align-items: center;
padding-bottom: 10px;
}


#title{

          text-align: center;
}


#btn{


gap: 20px;
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
     

  background-color: #1a1a1a;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
 
 
}

#btnStop{
gap: 40px;
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
     background-color: #3d030394;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;

}

button:hover {
   
  transform: scale(1.1);
}

#btn:hover {

          box-shadow: 5px 5px 10px rgba(2, 73, 2, 0.555);
           
}

#btnStop:hover {

          box-shadow: 5px 5px 10px rgba(94, 1, 1, 0.555);
           
}


#Btn{

display: flex;
justify-content: center;
padding-bottom: 25px;
gap: 10px;

}

#cj{

          display: flex;
          justify-content: center;

}
.hide{
          display: none;
}